/* ================================= Responsive CSS ================================= */

@media only screen and (min-width: 768px) {
	/* Spacings */
	.padding-sm-right-none{padding-right:0!important}.padding-sm-lr-none{padding-left:0!important;padding-right:0!important}.padding-sm-left-none{padding-left:0!important}
	.padding-sm-right-none.vc_column_container>.vc_column-inner{padding-right:0!important}.padding-sm-lr-none.vc_column_container>.vc_column-inner{padding-left:0!important;padding-right:0!important}.padding-sm-left-none.vc_column_container>.vc_column-inner{padding-left:0!important}
}

@media only screen and (max-width: 1199px) {
	#charitable-donation-form .tpath-charitable-form-wrapper .donation-amounts .donation-amount {
		display: inline-block;
		padding-right: 15px;
		margin-right: 0;	
	}
}
/* 980 - 1240 Styles */

@media only screen and (max-width: 1240px) and (min-width: 992px) {
    .content-col-small {
        width: 68%;
    }
    .pm-sidebar {
        width: 32%;
    }
    .latest-post-img {
        margin-right: 8px;
        width: 50px;
        height: 50px;
    }
    .team-member .member-social {
        float: left;
    }
    .wpb_wrapper .wpb_tabs .wpb_tabs_nav li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width:1199px) and (min-width:992px) {

}
/* ---------- MAX 1024px ---------- */

@media only screen and (max-width: 1024px) and (min-width: 992px) {
	
	.tpath-main-nav.nav.navbar-nav > li > a {
		margin: 0 12px;
	}
    .tpath-top-bar .header-search-form .search-form {
        max-width: 140px;
    }
    .logo-left .dropdown-menu .sub-menu,
    .logo-center .dropdown-menu .sub-menu {
        left: auto;
        right: 100%;
    }
    /* ------- Button Styles ------- */
    
    .btn.btn-wide {
        width: auto;
    }
    .submit .btn.btn-wide {
        padding: 13px 20px;
    }
    .btn-margin {
        margin-right: 20px;
    }
    .tpath-count-number {
        line-height: 1.1;
        margin-bottom: 10px;
    }
    .counter-info {
        line-height: 1.2;
        font-size: 22px;
    }
    .footer-section .contact_info-inner .fa {
        padding-right: 12px;
    }
	.footer-section .widget h3.widget-title::after {
		width: 20px;
	}
	
	.latest-posts-layout .posts-content-container .entry-meta li {
		font-size: 14px;
	}
	.tpath-events-list-wrapper.style-grid .duration.venue {
		padding: 0 10px;
	}
}
/* 1024 - Styles */

@media only screen and (max-width: 1024px) {
	.navbar-header.tpath-logo img{
		max-width: 260px;
	}
    .portfolio-gallery-wrapper .portfolio-overlay h4,
    .portfolio-gallery-wrapper .portfolio-overlay h5.portfolio-date {
        line-height: 28px;
        float: none;
        display: block;
        text-align: center;
    }
    .clients-carousel-slider .owl-controls .owl-prev {
        left: 0;
    }
    .clients-carousel-slider .owl-controls .owl-next {
        right: 0;
    }
    .clients-wrapper .container {
        width: 100%;
    }
    .wpb_wrapper .wpb_tabs .wpb_tabs_nav li > a {
        padding: 6px 20px;
    }
    .widget-entry-content {
        width: 100%;
        float: none;
    }
    .grid-col-2 .grid-posts,
    .grid-col-3 .grid-posts,
    .grid-col-4 .grid-posts {
        width: 48%;
    }
    .tpath-counter .counter-info {
        text-align: center;
    }
    .tpath-tabs .nav-tabs > li > a {
        padding: 20px;
        min-width: 0;
    }
    .tpath-section-title .section-sub-title {
        margin-top: 5px;
        position: inherit;
        display: inline-block;
    }
    .tpath-icon-box-content.icon-align-left .tpath-icon-view {
        min-width: 50px;
    } 
    .wpcf7-form > p .btn.btn-action {
        margin-top: 10px;
    }
    .tpath_team_member .related-members.row {
        padding-left: 0;
    }
    .tpath-team-slider-wrapper .tpath-owl-carousel .owl-controls .owl-nav > div.owl-next {
        right: 0;
    }
	.owl-carousel.owl-theme .owl-controls .owl-nav .owl-next {
		right: 0;
	}
	.owl-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
		left: 0;
	}
	.footer-two-column-section .footer-social {
		position: static;
		width: 100%;
		padding: 20px 20px 0;
	}
	.footer-two-column-section .footer-social .tpath-social-icons.soc-icon-flat li {
		display: inline-block;
		margin: 0 6px 10px 0;
	}
	.tpath-contact-details, .contact-form-wrapper {
		max-width: 100%;
	}
	.tpath-contact-details li.contact-list {
		min-height: 100px;
	}
	.header-logo-section .tpath-logo-bar li > div {
		margin-left: 5px;
		padding-right: 0;
	}
	.header-search-form .search-form {
		max-width: 200px;
	}
	.header-search-form .search-form .input-group input.form-control {
		min-width: 160px;
	}
	.campaign-piechart-bar-wrapper .tpath-piechart-counter .tpath-piechart canvas {
		width: 50px !important;
		height: 50px !important;
	}
	.campaign-grid li.campaign-post .campaign-bottom-wrapper {
		padding: 40px 10px 30px;
	}
}
/* ---------- MAX 1000px ---------- */

@media only screen and (max-width: 1000px) {
    .tpath-top-bar .header-search-form .search-form {
        max-width: 200px;
    }

}

/* ---------- MAX 991px ---------- */

@media only screen and (max-width:991px) and (min-width:768px) {
	.project-details-button, .project-extra-button {
		margin-bottom: 20px;
	}
    .testimonial-ticker-slider .testimonial-author img {
        margin: 0 auto;
    }
    .testimonial-ticker-slider .testimonial-author,
    .testimonial-ticker-slider .testimonial-content {
        display: block;
    }
    .testimonial-ticker-slider .testimonial-author {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    .testimonial-ticker-slider .testimonial-content h5 {
        text-align: center;
    }
    .tpath-counter-section .tpath-counter-icon {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
	.tpath-counter-section .counter-value .counter, .tpath-counter-section .counter-value h3 {
		font-size: 32px;
	}
    .tpath-counter-section.text-left {
        text-align: center;
    }
    .htype-header-2 .navbar-nav > li {
        float: none;
    }
    .htype-header-2 .tpath-main-nav.nav.navbar-nav > li > a {
        line-height: 30px;
    }
    .htype-header-2 .dropdown-menu > li > a,
    .dropdown-menu .sub-menu a {
        padding: 5px 16px;
    }
    .header-main-section p {
        float: right;
    }
    .tpath-column-inner-wrapper .vc_tta-panel-body .vc_chart .vc_chart-legend,
    .tpath-column-inner-wrapper .vc_tta-panel-body .vc_chart .vc_chart-with-legend {
        width: 100%;
    }
	.tpath-feature-box.style-default-box .grid-icon-wrapper, .tpath-feature-box.style-default-box .grid-content-wrapper {
		display: inherit;
	}
	/* Bottom Spacing */
	.wpb_row .wpb_column.vc_col-sm-6,
	.wpb_row .wpb_column.vc_col-sm-12 {
		margin-bottom: 30px;
	}
	.wpb_row .wpb_column.vc_col-sm-6:nth-last-child(1), 
	.wpb_row .wpb_column.vc_col-sm-6:nth-last-child(2),
	.wpb_row .wpb_column.vc_col-sm-4 {
   		margin-bottom: 0;
	}
	.wpb_row .wpb_column.vc_col-sm-12:last-child {
   		margin-bottom: 0;
	}
	.latest-posts-layout .post.col-sm-6 {
		margin-bottom: 30px;
	}
	.latest-posts-layout .post.col-sm-6:nth-last-child(1), 
	.latest-posts-layout .post.col-sm-6:nth-last-child(2) {
		margin-bottom: 0;
	}
	
	.testimonial-grid .testimonial-item.col-sm-6,
	.testimonial-grid .testimonial-item.col-xs-12 {
		margin-bottom: 30px;
	}
	.testimonial-grid .testimonial-item.col-sm-6:nth-last-child(1), 
	.testimonial-grid .testimonial-item.col-sm-6:nth-last-child(2) {
		margin-bottom: 0;
	}
	
	/* Client grid */
	.client-item.col-sm-4:last-child {
		margin-bottom: 0;
	}
	.client-item.col-sm-4,
	.client-item.col-sm-6 {
		margin-bottom: 30px;
	}
	.client-item.col-sm-4:nth-last-child(1),
	.client-item.col-sm-4:nth-last-child(2),
	.client-item.col-sm-4:nth-last-child(3) {
		margin-bottom: 0;
	}
	.client-item.col-sm-6:nth-last-child(1),
	.client-item.col-sm-6:nth-last-child(2){
		margin-bottom: 0;
	}
	.header-search-form .search-form .input-group input.form-control {
		min-width: 100px;
		height: 40px;
	}
	.header-search-form .search-form {
		max-width: 120px;
	}
	.header-search-form .search-form .input-group {
		height: 40px;
		line-height: 40px;
	}
	li.campaign-post .campaign-title {
		min-height: 54px;
	}
	.tpath-contact-details li.contact-list .contact-icon, .tpath-contact-details li.contact-list .contact-details {
		float: left;
	}
}

@media only screen and (max-width: 991px) {
	.header-topbar-section .navbar-right {
		margin: 0;
	}
	.header-section.header-styleone .navbar-right.tpath-logo-bar {
		float: none !important;
	}
	.header-topbar-section .navbar-nav>li {
		float: right;
	}
	.header-section.header-styleone .navbar-collapse.tpath-header-logo-bar {
		float: right;
	}
	.header-section .header-logo-section {
		padding: 10px 0;
	}
	.header-logo-section .tpath-logo-bar > li {
		width: 100%;
		margin-top: 10px;
	}	
	.tpath-header-logo-bar .nav > li {
		text-align: center;
	}
	.header-logo-section .tpath-logo-bar li > div.header-top-btn {
		text-align: center;
		display: block;
		margin-top: 10px;
	}
    .tpath-logo .navbar-brand {
        float: none;
        height: auto;
		line-height: 60px;
    }
    .tpath-logo .navbar-brand > img {
        margin: 0 auto;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        top: 0;
    }
    .logo-center .tpath-header-main-bar {
        position: relative;
        top: 0;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
    }
    .header-main-section .navbar-collapse {
        clear: both;
        text-align: center;
    }
    .nav.navbar-nav.tpath-main-bar {
        float: none;
        display: inline-block;
    }
	.tpath-main-nav.nav.navbar-nav > li > a {
		margin: 0 10px;
		line-height: 60px;
	}
	.header-main-section .nav.navbar-nav li.search-nav-toggle,
	.header-toggle-content .btn-search-close {
		line-height: 60px;
	}
	.header-main-section .header-toggle-content  {
		line-height: 60px;
		height: 60px;
	}
	.header-main-section .nav.navbar-nav li.extra-nav.search-nav {
		padding-left: 15px;
	}
	.header-main-section .nav.navbar-nav li.search-nav {
		line-height: 60px;
	}
    .tpath-feature-box .tpath-feature-box-title h5 {
        bottom: 10px;
    }
    .navbar-nav {
        z-index: 1;
    }
    .tpath-megamenu-wrapper {
        min-width: inherit;
    }
    .padding-bottom {
        padding-bottom: 15px;
    }
    .two-col-right #single-sidebar-container #sidebar,
    .two-col-left #single-sidebar-container #primary,
    .three-col-right #single-sidebar-container #sidebar,
    .three-col-right #secondary-sidebar,
    .three-col-middle #single-sidebar-container,
    .three-col-middle #single-sidebar-container #sidebar,
    .three-col-left #single-sidebar-container,
    .three-col-left #single-sidebar-container #primary {
        float: left;
    }
    #main-wrapper,
    #main-wrapper #primary,
    #main-wrapper #sidebar,
    #main-wrapper #secondary-sidebar {
        min-height: 0;
    }
    .main-col-small,
    .content-col-small,
    .pm-sidebar,
    .sec-sidebar {
        width: 100%;
    }
    .post-tags {
        text-align: center;
        margin-bottom: 10px;
    }
    .large-posts .read-more,
    .medium-posts .read-more {
        float: none;
    }
    .tpath-social-share-box {
        float: none;
        text-align: center;
    }
    .testimonial-slider-wrapper.type-author_top,
    .testimonial-slider-wrapper.type-author_bottom {
        padding: 5px;
    }
    .testimonial-carousel-slider .testimonial-content,
    .testimonial-item {
        padding: 0;
    }
    .testimonial-carousel-slider .owl-carousel .owl-stage-outer {
        padding-bottom: 60px;
    }
    .testimonial-carousel-slider .testimonial-content {
        padding: 20px;
    }
    .testimonial-carousel-slider .owl-nav {
        bottom: -10px;
        position: absolute;
        right: 0;
    }
    .testimonial-carousel-slider.owl-carousel.owl-theme .owl-controls .owl-nav div {
        transform: none;
    }
    .testimonial-wrapper {
        padding-bottom: 60px;
    }
	.testimonial-info {
        padding: 0 15px;
    }
    .team-item .team-content-wrapper::before {
        height: 110px;
        top: -60px;
    }
    .tpath-quote-box .tpath-quote-border .tpath-quote-content {
        padding: 10px;
    }
    .tpath-quote-box.with_author_img .tpath-quote-content .quote-author-info {
        padding-left: 95px;
    }
    /* ------- Logo & Menu ------- */
    
    .tpath-top-navbar,
    .navbar-nav.tpath-main-nav {
        float: none;
    }
    .tpath-top-navbar > li,
    .tpath-top-bar .header-top-right {
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
    .tpath-top-bar .header-top-right {
        margin: 10px 0;
    }
    .navbar-nav.tpath-main-nav > li {
        display: inline-block;
        height: auto;
    }
    .tpath-top-bar .header-sidebar-social,
    .tpath-top-bar .header-search-form {
        width: 100%;
    }
    .tpath-top-bar .header-sidebar-social .tpath-social-icons,
    .tpath-top-bar .header-search-form .search-form {
        height: auto;
    }
    .tpath-top-bar .header-search-form .search-form {
        max-width: none;
    }
    .our-skills {
        margin-bottom: 15px;
    }
    .tpath-imageframe,
    .tpath-imageframe-overlay {
        width: 100%;
    }
    .tpath-imageframe-overlay img {
        width: 100%;
    }
    .tpath-counter {
        display: block;
        text-align: center;
    }
    .counter-icon,
    .counter-info {
        display: inline-block;
    }
    .main-testimonial-image img {
        margin: 0 auto;
    }
    .testimonial-author {
        text-align: center;
    }
    .tpath-input-email.pull-right {
        float: none !important;
    }
    .imageframe-overlay .imageframe-overlay-content .pull-left .tpath-imageframe {
        width: auto;
    }
    .testimonial-slider-section {
        padding-bottom: 35px;
    }
    .portfolio-gallery-wrapper .portfolio-top-wrapper {
        text-align: center;
    }
    .portfolio-gallery-wrapper .portfolio-section-title {
        display: inline-block;
        float: none;
        margin: 0 auto 20px;
    }
    .portfolio-top-wrapper .portfolio-tabs {
        float: none;
    }
    .team-member {
        overflow: hidden;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
        right: 74px;
    }
    .testimonial-carousel-slider.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
        left: -190px;
    }
    .header-main-section .navbar-collapse {
        clear: inherit;
        float: initial;
    }
    .header-main-section.is-sticky .navbar-collapse {
        margin-top: 1em;
    }
    .logo-left .nav.navbar-nav.tpath-main-bar {
        float: right;
    }
    .tpath-posts-container.list-layout.list-columns .list-posts,
    #archive-posts-container.list-layout.list-columns .list-posts {
        width: 100%;
    }
    .tpath-posts-container.list-layout.list-columns > article:nth-child(2n),
    #archive-posts-container.list-layout.list-columns > article:nth-child(2n) {
        margin-left: 0;
    }
    .tpath-posts-container.list-layout.list-columns > article:nth-child(2n+1),
    #archive-posts-container.list-layout.list-columns > article:nth-child(2n+1) {
        margin-right: 0;
    }
    .testimonial-item {
        padding: 0 5px;
    }
    .testimonial-carousel-slider .testimonial-content {
        padding: 0;
    }
    .testimonial-item .author-image img {
        margin-right: 5px
    }
    .testimonial-carousel-slider .testimonial-item .testimonial-info {
        padding-left: 5px;
        padding-right: 5px;
    }
    /* ------- Disable Animations ------- */
    
    .animated {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
	
	/* Animation */
	.wpb_animate_when_almost_visible, .wpb_animate_when_almost_visible.wpb_start_animation {
		animation: none!important;
		-webkit-animation: none!important;
		-ms-animation: none!important;
		-o-animation: none!important;
		opacity: 1!important;
		visibility:visible!important;
		filter: alpha(opacity=100)!important;
		-webkit-transform: none!important;
		-ms-transform: none!important;
		-o-transform: none!important;
		transform: none!important;
	}
    /* ------- Woocommerce ------- */
    
    .woocommerce ul.products.products-4 li.product,
    .woocommerce-page ul.products.products-4 li.product,
    .woocommerce ul.products.products-5 li.product,
    .woocommerce-page ul.products.products-5 li.product {
        width: 32%;
    }
    .woocommerce ul.products.products-5 li.product:nth-child(3n),
    .woocommerce-page ul.products.products-5 li.product:nth-child(3n),
    .woocommerce ul.products.products-4 li.product:nth-child(3n),
    .woocommerce-page ul.products.products-4 li.product:nth-child(3n) {
        margin-right: 0;
    }
    .woocommerce ul.products.products-5 li.product:nth-child(5n),
    .woocommerce-page ul.products.products-5 li.product:nth-child(5n),
    .woocommerce ul.products.products-4 li.product:nth-child(4n),
    .woocommerce-page ul.products.products-4 li.product:nth-child(4n) {
        margin-right: 2%;
    }
    .woocommerce ul.products.products-5 li.product:last-child,
    .woocommerce-page ul.products.products-5 li.product:last-child,
    .woocommerce ul.products.products-4 li.product:last-child,
    .woocommerce-page ul.products.products-4 li.product:last-child {
        margin-right: 0;
    }
    .woocommerce ul.products.products-5 li.first,
    .woocommerce-page ul.products.products-5 li.first,
    .woocommerce ul.products.products-4 li.first,
    .woocommerce-page ul.products.products-4 li.first {
        clear: none;
    }
    .woocommerce ul.products li.product:nth-child(2n),
    .woocommerce-page ul.products li.product:nth-child(2n) {
        float: left;
    }
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        clear: none;
    }
    .woocommerce #content table.cart td.actions .input-text,
    .woocommerce table.cart td.actions .input-text,
    .woocommerce-page #content table.cart td.actions .input-text,
    .woocommerce-page table.cart td.actions .input-text {
        width: 48%;
    }
    .location-form .tpath-field-group {
        margin-bottom: 15px;
        width: 25%;
    }
    .tpath-form-button {
        float: right;
        width: auto;
    }
	.custom-width-38, .custom-width-28 {
		width: 100%;
		margin: 10px 0;
		text-align:center;
	}
	.tpath-counter-section {
		text-align:center;
	}
	.counter-info.border-right_border {
		border: none;
	}
	.tpath-vc-campaign-recent-wrapper.campaign-style-2 .campaign-recent-left-col {
		padding-right: 15px;
	}
	.tpath-vc-campaign-recent-wrapper.campaign-style-2 .campaign-recent-right-col {
		padding-left: 15px;
	}
	
	.campaign-single-container .campaign-single-donation-text {
		padding-right: 0;	
	}
	.campaign-single-container .campaign-single-image-block {
		margin-top: 30px;	
	}
}

@media only screen and (max-width: 800px) {
	.tpath-campaign-wrapper .campaign-loop.campaign-grid.campaign-grid-2 .campaign.hentry {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.campaign-grid-3 .campaign.hentry:nth-child(3n+3) {
		margin-right: 2%;
	}
	.campaign-grid-3 .campaign.hentry {
		width: 48%;
	}
	.tpath-campaign-wrapper .campaign-grid-4 .campaign.hentry {
		width: 48%;
		margin: 0 1% 10px;
	}
	.tpath-events-list-wrapper .ecs-clearfix.clearfix {
		display: none;
	}
	.events-shortcode .ecs-event-list li {
		margin-bottom: 20px;
	}
	.tpath-testimonial.style-style_four .testimonial-item {
	    padding: 0 10px 10px;
	}
	.header-styleone .navbar-header.tpath-logo {
		text-align: center;
		float: none;
		margin: 0 auto;
	}
	.header-section.header-styleone .navbar-collapse.tpath-header-logo-bar {
		float: none;
	}
	.header-styletwo .navbar-header.tpath-logo {
		float: none;
		text-align: center;
	}
	.header-section.header-styletwo .header-logo-section .nav.navbar-nav > li, .header-section.header-styletwo .header-logo-section .nav.navbar-nav.tpath-main-nav > li > a, .header-section.header-styletwo .header-logo-section .nav.navbar-nav.tpath-main-nav li a {
		line-height: 40px;
	}
	.header-section.header-styletwo .tpath-header-main-bar {
		position: relative;
		text-align: center;
	}
	.header-section.header-styletwo .header-toggle-content {
		height: 40px;
		line-height: 40px;
	}
	.header-section.header-styletwo .header-toggle-content .btn-search-close {
		line-height: 40px;
	}
	.header-section.header-styletwo .navbar-right.tpath-main-bar {
		float: none !important;
	}
	.tpath-vc-campaign-recent-wrapper.campaign-style-1 .campaign-recent-post .campaign-recent-left-col, .tpath-vc-campaign-recent-wrapper.campaign-style-2 .campaign-recent-post .campaign-recent-left-col {
		padding-right: 15px;
	}
	.tpath-vc-campaign-recent-wrapper.campaign-style-1 .campaign-recent-post .campaign-recent-right-col, .tpath-vc-campaign-recent-wrapper.campaign-style-2 .campaign-recent-post .campaign-recent-right-col {
		padding-left: 15px;
	}
	.tpath-vc-campaign-recent-wrapper.campaign-style-1 .campaign-recent-post .campaign-right-box-inner {
		padding: 20px 15px;
	}
	.campaign-loop.campaign-list .campaign-donation {
		margin-top: 0;
	}
	.campaign-loop.campaign-list .campaign-donation {
		width: 100%;
	}
	.campaign-loop.campaign-list .campaign-social-share-box {
		width: 100%;
		margin-top: 10px;
	}
	.campaign-loop.campaign-list .tpath-social-share-box {
		text-align: left;
	}
	.campaign-list .campaign-list-right-wrapper {
		padding: 15px;
	}
	.tribe-events-single .tribe-events-back > a {
		margin-top: 5px;
	}
	#tribe-events #tribe-events-footer {
		border: medium none;
	}
	.tpath-testimonial.style-style_one .testimonial-item {
		padding: 10px;
	}
	
}

/* 767 - Styles */
@media only screen and (max-width: 767px) {
	.tpath-header-logo-bar .nav > li {
		text-align: left;
	}
	.header-styleone .navbar-header.tpath-logo {
		float: left;
	}
	.header-section.header-styleone .navbar-collapse.tpath-header-logo-bar {
		float: left;
		width: 100%;
	}
	.navbar-header.tpath-logo img {
		max-width: 460px;
	}
	.header-logo-section .tpath-logo-bar li > div {
		margin: 5px;
	}
	.header-section ul.mobile-sub-menu {
		margin-left: 15px;
		text-align: left;
	}
	.header-section.header-light .navbar-nav ul li a {
		color: #333;
	}
	.header-section.header-dark .navbar-nav ul li a,
	.header-section.header-styleone .navbar-nav ul li a {
		color: #fff;
	}
	.header-section.header-styleone .topbar_half ul li a {
		color: #333;
	}
	.header-section .tpath-main-bar {
		margin-bottom: 0;
	}
	.header-section.header-styletwo.header-transparent.header-dark .tpath-main-bar {
		background: #202020;
	}
	.header-section.header-styletwo.header-transparent.header-light .tpath-main-bar {
		background: #fff;
	}
	.header-section .tpath-mainnavbar-collapse .extra-nav.search-nav-toggle {
		display: none !important;
	}
	.header-section .tpath-mainnavbar-collapse .header-toggle-content.header-toggle-search {
		display: block !important;
		border-top: 1px solid #333;
		height: 60px;
		line-height: 60px;
	}
	.header-section.header-light .header-main-section .header-toggle-content.header-toggle-search {
		background: #262f36;
		border-color: #666;
	}	
	.header-section .header-toggle-content.header-toggle-search .btn-search-close {
		display: none !important;
	}
	.header-toggle-content.header-toggle-search .search-form .toggle-search-form .form-control {
		width: 100%;
		font-size: 15px;
	}
	.header-topbar-section .welcome-text {
		line-height: 25px;
	}
	
	
	/* Column bottom spacing */	
	.wpb_row .wpb_column {
    	margin-bottom: 30px;
	}
	.vc_grid.vc_row .vc_grid-item {
		margin-bottom: 35px;
	}
	.vc_grid.vc_row .vc_grid-item:last-child {
		margin-bottom: 0;
	}
	.vc_grid.vc_row.vc_grid-gutter-10px .vc_grid-item {
		padding: 0;
	}
	.vc_responsive .wpb_row .wpb_column:last-child {
		margin-bottom: 0;
	}
	.testimonial-grid .testimonial-item.col-xs-12 {
		margin-bottom: 30px;
	}
	.testimonial-grid .testimonial-item.col-xs-12:last-child {
   		margin-bottom: 0;
	}
    .is-sticky.header-main-section {
        background: rgba(255, 255, 255, 0.7);
    }
    .header-top-section .navbar-header.nav-respons {
        margin: 0;
    }
    .logo-center #tpath_wrapper .header-section {
        min-height: auto;
    }
    .header-main-section.is-sticky .tpath-logo .navbar-brand {
        max-width: 110px;
        margin: 0 auto;
        float: none;
    }
    .wrapper-class .header-main-section .navbar-header.tpath-logo {
        max-width: none;
        position: relative;
        width: 100%;
    }
    .header-main-section .container {
        position: relative;
    }
    .logo-left .header-main-section .tpath-logo .navbar-brand {
        max-width: 280px;
        float: left;
    }
    .logo-left .header-main-section.is-sticky .tpath-logo .navbar-brand {
        max-width: 140px;
    }
    .logo-right .header-main-section .tpath-logo .navbar-brand {
        max-width: 280px;
        float: right;
    }
    .logo-right .header-main-section.is-sticky .tpath-logo .navbar-brand {
        max-width: 140px;
    }
    .navbar-header.tpath-logo {
        margin: 0;
        padding: 0;
    }
    .header-section .header-main-section.is-sticky .tpath-main-nav.nav.navbar-nav > li > a,
    .header-section .header-main-section .tpath-main-nav.nav.navbar-nav > li > a ,
	.header-section.header-styletwo .header-logo-section .nav.navbar-nav.tpath-main-nav li a {
        line-height: 20px;
        height: auto;
    }
	.tpath-main-nav.nav.navbar-nav > li:first-child > a {
		margin-left: 10px;
	}
	.header-toggle-content {
		position: relative;
	}
    .wrapper-class .is-sticky .navbar-header.tpath-logo {
        width: 100%;
    }
    .header-menu-bar {
        padding: 0;
    }
    .header-menu-bar .navbar-collapse {
        background: #F6F6F6;
        z-index: 9999;
    }
    .header-top-section {
        height: auto;
    }
    .header-top-section button.navbar-toggle {
        background: transparent;
    }
    .nav.navbar-nav.tpath-main-bar {
        float: none;
        display: block;
        width: 100%;
    }
    .header-main-section .navbar-collapse {
        text-align: left;
        z-index: 0;
    }
    .tpath-main-nav.navbar-nav.navbar-main > li > a {
        line-height: 20px;
        padding: 5px 10px;
    }
    .menu-item {
        margin-bottom: 10px;
    }
    .menu-icon-box {
        display: block;
        color: #fff;
    }
    .header-sticky.is-sticky .tpath-logo .navbar-brand {
        height: auto;
    }
    .navbar-brand {
        width: 100%;
    }
    .navbar-toggle {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
		 margin: 0;
        z-index: 1;
    }
    .header-menu-bar .navbar-toggle {
        width: 100%;
        margin: 0;
        padding: 10px 15px;
    }
    .menu-icon-box {
        float: left;
    }
    .menu-icon {
        float: right;
        margin: 3px 0 0;
    }
    .header-top-bar {
        padding: 15px 0;
    }
    .header-menu-bar .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .header-menu-bar .navbar-nav.tpath-main-nav {
        margin: 0;
    }
    .navbar-right.tpath-main-right .header-search-form {
        padding: 0 15px;
    }
    .header-top-right-search {
        float: none;
        margin: 0;
    }
    .header-top-right-search .search-form {
        margin: 0 auto;
    }
    .tpath-top-bar .header-sidebar-social,
    .tpath-top-bar .header-search-form {
        padding: 0 15px;
    }
    .tpath-logo {
        width: auto;
        display: block;
        height: auto;
    }
    .tpath-logo .navbar-brand {
        width: auto;
        padding: 0;
        display: block;
        float: none;
        max-width: 160px;
        margin: 0;
    }
    .header-main-section.is-sticky .tpath-logo .navbar-brand {
        width: 100%;
    }
    .tpath-logo .navbar-header {
        padding-right: 15px;
    }
    .logo-left .tpath-top-bar,
    .logo-center .tpath-top-bar,
    .logo-right .tpath-top-bar {
        float: none;
        text-align: center;
        padding: 0;
    }
    .logo-right .navbar-nav.navbar-right:last-child {
        margin-left: -15px;
        margin-right: -15px;
    }
    .header-top-section ul li.header-top-cart {
        display: inline-block;
    }
    .header-top-section ul li.header-top-cart {
        float: left;
    }
    .nav.navbar-nav > li > a {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav.tpath-main-nav > li {
        display: block;
		width: 100%;
    }
    .tpath-main-nav.nav.navbar-nav > li > a::before {
        display: none;
    }
    .tpath-main-nav.nav.navbar-nav > li > a,
    .header-sticky.is-sticky .tpath-main-nav.nav.navbar-nav > li > a {
        line-height: 30px;
        text-align: left;
    }
    .tpath-main-nav.navbar-nav.navbar-main > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .mobile-sub-menu li a {
        padding: 8px 15px;
        display: block;
        line-height: 16px;
    }
    #main-mobile-nav li .menu-toggler {
        padding: 5px 0;
    }
    #main-mobile-nav li .menu-toggler {
        padding: 0;
    }
    .tpath-main-nav.nav.navbar-nav > li.menu-item-has-children > a::after {
        display: none;
    }
    #mobile-menunav ul li span.menu-toggler i {
        line-height: 10px;
    }
    .navbar-nav.tpath-main-nav .tpath-mobile-megamenu li {
        margin-right: 0;
		margin-bottom:0;
    }
    .tpath-megamenu-title {
		font-size: 16px;
		font-weight: 700;
		margin: 0;
		padding: 5px 0;
		color: #fff;
    }
    .navbar-collapse {
        max-height: 220px;
    }
    .container .navbar-collapse .navbar-nav {
        margin-left: 0;
        margin-right: 0;
    }
    .header-top-section ul.nav.navbar-nav.tpath-top-right {
        margin-bottom: 0;
    }
    .wpb_wrapper > .tpath-feature-box.tpath-featurebox-image {
        margin-bottom: 20px;
    }    
    .testimonial-carousel-slider .testimonial-left {
        padding-right: 0;
    }
    .testimonial-carousel-slider .testimonial-content {
        margin-right: 0;
        min-height: 0px;
    }
    .vc_column_container.border-bottom_right_rotate::after {
        display: none;
    }
    .tpath-vc-section.overlay-half-wrapper:before {
        width: 100%;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        left: 0;
        bottom: 0;
        top: 0;
    }
    .large-layout .tpath-social-share-box,
    .medium-layout .tpath-social-share-box {
        clear: both;
        float: none;
        text-align: center;
    }
    .share-options {
        float: none;
        margin: 10px 0 0;
        width: 100%;
    }
    .tpath-contact-info {
        padding-left: 15px;
    }
    .grid-col-2 .grid-posts,
    .grid-col-3 .grid-posts,
    .grid-col-4 .grid-posts {
        width: 100%;
    }
    .grid-layout.grid-col-4 .audio-player .mejs-container .mejs-time.mejs-currenttime-container,
    .grid-layout.grid-col-4 .audio-player .mejs-container .mejs-time.mejs-duration-container {
        display: block;
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
	.comment-form-comment.form-group {
        width: 100%;
        margin-right: 0;
    }
    .input-budget.form-control {
        margin-bottom: 30px;
    }
    .tpath-contact-form-wrapper select {
        margin-bottom: 30px;
        width: 100%;
    }    
    .logo-right .header-main-section .navbar-toggle {
        right: auto;
        left: 10px;
    }
    .header-section.htype-header-1 .tpath-main-bar .tpath-main-nav > li,
    .header-section.htype-header-1 .tpath-main-bar > li {
        display: block;
    }
    .header-section.htype-header-1 .tpath-main-bar,
    .header-section.htype-header-1 .tpath-main-bar .navbar-nav {
        text-align: left;
    }
    .vc_row .wpb_column {
        overflow: hidden;
    }
    .portfolio-gallery-wrapper .portfolio-tabs.style1-box > li {
        border-width: 1px;
        margin: 3px;
    }
    .portfolio-single-image {
        overflow: hidden;
        margin-bottom: 3em;
    }
    .single-tpath_team_member .team-content-wrapper {
        border: none;
    }
    .related-members li .entry-thumbnail {
        width: 50%;
        float: left;
    }
    .related-members li {
        clear: both;
        margin-bottom: 2em;
        overflow: hidden;
    }
    .wpb_single_image.vc_align_right {
        text-align: center;
    }
    .vc_tta.vc_general .vc_tta-panel-title > a {
        font-size: 16px;
    }
    .latest-posts-layout .post {
        margin-bottom: 30px;
    }
	.header-top-section p {
		margin-right: 0;
	}
	.header-top-section {
		padding-left: 20px;
	}
	.header-top-section .tpath-top-nav .navbar-nav > li > a {
		line-height:22px;
	}
	.tpath-logo .navbar-brand > img {
		width:auto;
	}
	.nav.navbar-nav.tpath-main-bar {
		width: 100%;
	}
	.tpath-main-nav.nav.navbar-nav > li > a {
		line-height: 30px;
	}
	.tpath-main-nav.nav.navbar-nav > li > a:hover::before {
		display:none;
	}
	.tpath-mobile-megamenu {
		margin-left: 20px;
	}
	.navbar-header.nav-respons.tpath-logo {
		position: relative;
		width: 100%;
	}
	.header-main-section .nav.navbar-nav li.extra-nav.search-nav::before {
		display:none;
	}
	.header-search-form {
		line-height: 22px;
		text-align: right;
	}
	.header-search-form .ionicons.ion-ios-search.btn-trigger {
		display: none !important;
	}
	.header-main-section .header-search-form .search-form {
		display: block !important;
		position: static;
		width: 100%;
		margin-bottom: 10px;
	}
	.header-main-section .nav.navbar-nav li.extra-nav.search-nav {
		padding-left: 0px;
	}
	.latest-posts-layout .post:hover .latest-post-overrelay {
	    width: 100%;
	}
	.client-item.col-xs-12 {
		margin-bottom: 30px;
	}
	.client-item.col-xs-12:last-child {
		margin-bottom: 0;
	}
	.single-post .tpath-social-share-box, .archive.author .tpath-social-share-box {
		position: static;
		float: left !important;
	}
	.author-info .author-social li:first-child {
		margin-left: 0;
	}
	.comments-box-container .comment-post-meta {
		position: static;
	}
	.comments-box-container .comment-status-text {
		width: 100%;
	}
	.page-title-wrapper .page-title-header h1, .page-title-wrapper .page-title-header h1.entry-title {
	    font-size: 40px;
	}
	.tpath-events-list-wrapper li.ecs-event .event-image img {
		width: 100%;
	}
	.page-title-section.text-left .page-title-container .page-title-header, .page-title-section.text-left .page-title-container .page-breadcrumbs-wrapper {
		width: 100%;
		display: block;
	}
	.tpath-events-list-wrapper.style-list .event-excerpt {
		padding-left: 10px;
	}
	.tpath-events-ticker-slider ul.ecs-event-list {
		width: 100%;
	}
	.style-list .team-columns-2 .team-image-wrapper, .style-list .type-slider .team-image-wrapper {
		width: 100%;
	}
	.style-list .team-columns-2 .team-content-wrapper, .style-list .type-slider .team-content-wrapper {
		width: 100%;
	}

	/* ------- Footer ------- */
    
    .footer-copyright-section .copyright-info {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-social .tpath-social-icons {
        display: block;
        text-align: center;
    }
	.footer-widgets {
		margin-bottom: 20px;
	}
	.footer-menu-wrapper .navbar-nav>li {
		float: none;
		display: inline-block;
		margin: 0 10px;
	}
    .large-posts,
    .medium-posts {
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
	.footer-two-column-section .footer-social {
		position: relative;
		text-align: center;
		left: auto;
		top: 0;
	}
	.footer-two-column-section .footer-left-column {
		height: auto!important;
		padding-right: 15px;
	}
	.footer-col-copyright-section {
		bottom: -25px;
		padding-left: 20px;
	}
	.footer-two-column-section .footer-left-column {
		margin-bottom: 50px;
	}
	.footer-two-column-section .footer-right-column::after {
		height: 100%;
		top: 0;
	}
	.footer-section .wpcf7-form .col-sm-6.first {
		padding-right: 15px;
	}
	.footer-section .wpcf7-form .col-sm-6.last {
		padding-left: 15px;
	}
	.footer-section.footer-style-1 .footer-menu-left .tpath-footer-menu.footer-menu-navigation {
		float: none;
		text-align: center;
	}
	.campaign-chart-counter {
		text-align: center;
	}
	.feature-box-default .tpath-feature-icon {
		margin-top: 15px;
	}
	.campaign-grid-4 .campaign.hentry {
		width: 48%;
	}
	.team-item-img img {
		width: 100%;
	}
	.tpath-campaign-wrapper .campaign-loop.campaign-list .campaign.hentry {
		padding: 0 0 15px 0;
	}
	.campaign-list .campaign-list-right-wrapper {
		float: none;
		width: auto;
	}
	.campaign-loop.campaign-list .campaign-image-wrapper {
		margin-right: 15px;
	}
	.tpath-campaign-wrapper .campaign-loop.campaign-list .campaign.hentry {
		padding-bottom: 15px;
	}
	
    /* ------- Woocommerce ------- */
    
    .header-top-cart .woo-header-cart .woo-cart-contents {
        display: none;
    }
    .woocommerce ul.products.products-2 li.product,
    .woocommerce-page ul.products.products-2 li.product,
    .woocommerce ul.products.products-3 li.product,
    .woocommerce-page ul.products.products-3 li.product,
    .woocommerce ul.products.products-4 li.product,
    .woocommerce-page ul.products.products-4 li.product,
    .woocommerce ul.products.products-5 li.product,
    .woocommerce-page ul.products.products-5 li.product {
        width: 58%;
    }
    .woocommerce ul.products li.product:nth-child(2n),
    .woocommerce-page ul.products li.product:nth-child(2n) {
        float: none;
    }
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        margin-right: auto;
        margin-left: auto;
        float: none;
        clear: both;
    }
    .woocommerce ul.products.products-5 li.product:nth-child(5n),
    .woocommerce-page ul.products.products-5 li.product:nth-child(5n),
    .woocommerce ul.products.products-4 li.product:nth-child(4n),
    .woocommerce-page ul.products.products-4 li.product:nth-child(4n) {
        margin-right: auto;
    }
    .woocommerce ul.products.products-5 li.product:nth-child(3n),
    .woocommerce-page ul.products.products-5 li.product:nth-child(3n),
    .woocommerce ul.products.products-4 li.product:nth-child(3n),
    .woocommerce-page ul.products.products-4 li.product:nth-child(3n) {
        margin-right: auto;
    }
    ul.products.products-2 li.product:nth-child(2n),
    ul.products.products-3 li.product:nth-child(3n),
    ul.products.products-4 li.product:nth-child(4n),
    ul.products.products-5 li.product:nth-child(5n) {
        margin-right: auto;
    }
    .woocommerce ul.products.products-5 li.product:last-child,
    .woocommerce-page ul.products.products-5 li.product:last-child,
    .woocommerce ul.products.products-4 li.product:last-child,
    .woocommerce-page ul.products.products-4 li.product:last-child {
        margin-right: auto;
    }
    .woocommerce #order_review table.shop_table,
    .woocommerce-page #order_review table.shop_table {
        width: 100%;
    }
    .tpath-row-inner-wrapper .vc_column_container.border-bottom_right,
    .tpath-row-inner-wrapper .vc_column_container.border-bottom_right_rotate,
    .tpath-row-inner-wrapper .vc_column_container.border-bottom_only {
        border-bottom: none;
    }
    .navbar-brand {
        height: 55px;
        line-height: 55px;
    }
	.team-item .team-content-wrapper {
		margin-bottom: 30px;
	}
	.tpath-main-nav.nav.navbar-nav > li.menu-item-has-children > a::after {
		display:none;
	}
	.tpath-team-grid .team-container .team-item {
		width: 100%;
	}
	.tpath-testimonial.style-style_one .testimonial-item {
		padding: 10px;
	}
	.tpath-vc-mailchimp-form-wrapper .mailchimp-section-heading {
		display: block;
		margin-bottom: 10px;
	}
	.tpath-vc-mailchimp-form-wrapper .tpath-mc-form.mailchimp-form-wrapper {
		display: block;
		width: 100%;
	}
	
	.campaign-loop.campaign-grid .campaign.hentry { width: 100% !important; }
	.tpath-events-slider.events-shortcode .event-image {
		margin-bottom: 15px;
	}
	.tpath-events-slider.events-shortcode .event-image img {
		width: 100%;
	}
	
}
/* ---------- MAX 640px ---------- */

@media only screen and (max-width: 640px) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 250px;
    }
    .author-avatar {
        width: 100%;
    }
    .author-avatar img {
        margin: 0 auto;
        display: block;
    }
    .author-info-container {
        margin: 15px 0 0 0;
        float: left;
        width: 100%;
        text-align: center;
    }
	.single-post .tpath-social-share-box, .archive.author .tpath-social-share-box {
		float: none !important;
	}
    .imageframe-overlay .imageframe-overlay-content {
        position: static;
    }
    .imageframe-overlay-content .pull-left {
        float: none !important;
    }
    .tpath-imageframe,
    .tpath-imageframe-overlay {
        display: block !important;
        margin-top: 20px;
    }
    .imageframe-overlay .imageframe-overlay-content .pull-left .tpath-imageframe {
        margin: 0 0 15px 0;
    }
    .tpath-imageframe-overlay img {
        width: auto;
        margin: 0 auto;
    }
    .testimonial-carousel-slider .testimonial-content {
        margin-right: 0;
    }
	.tpath-standard.tpath-vc-section {
		margin-top: 0!important;
	}
	.event-image img {
		width: 100%;
	}
	.events-shortcode .ecs-event-list li {
		list-style: none;
		margin-bottom: 30px;
		padding-bottom: 10px;
	}
	.tpath-events-list-wrapper .ecs-clearfix.clearfix {
		display: none;
	}
	.portfolio-image img {
		width: 100%;
	}
	.vc-match-height-row .vc-match-height-content .wpb_column {
		height: auto;
	}
	.header-topbar-section .topbar_half {
		width: 100%;
		text-align: center;
	}
	.header-topbar-section .navbar-nav>li {
		float: none;
	}
	.header-topbar-section {
		 height: auto;
		 line-height: auto;
	}
	.header-social-nav .tpath-social-icons.soc-icon-transparent li a,
	.header-social-nav .tpath-social-icons.soc-icon-transparent li:first-child a {
		border: none;
	}
	.page-title-section.text-left .page-title-container {
		height: auto;
	}
	.tpath-events-list-wrapper li.ecs-event .event-image, .tpath-events-ticker-slider li.ecs-event .event-image {
		width: 100%;
		max-width: none;
		margin-bottom: 20px;
	}
	.style-list li.ecs-event .event-title,
	.style-list li.ecs-event .event-excerpt {
		float: left;
		width: 100%;
		padding: 0 10px;
	}
	.events-shortcode.style-list .duration.time {
		margin-left: 10px;
	}
	.campaign-list .campaign-image-wrapper {
		width: 100%;
	}
	.campaign-list .campaign-list-right-wrapper {
		float: left;
		width: 100%;
	}
	.single-tribe_events #tribe-events-footer .pager li {
		margin: 5px 0;
		width: 100%;
	}
	h2.related-member-title {
		font-size: 22px;
	}
	.tpath-posts-container.grid-layout .grid-posts {
		padding-right: 0;
	}
	
	.tpath-charitable-form-wrapper {
		padding: 30px;	
	}
	#charitable-donation-form .tpath-charitable-form-wrapper .donation-amounts .donation-amount {
		width: 48%;	
	}
	#charitable-donation-form .tpath-charitable-form-wrapper .donation-amounts .donation-amount.custom-donation-amount {
		width: 98%;	
	}
	#charitable-donor-fields .charitable-form-fields .charitable-form-field.odd {
		width: 98%;	
	}
	#charitable-donor-fields .charitable-form-fields .charitable-form-field.even {
		width: 98%;
		float: left;	
	}
	#charitable-donation-form .tpath-charitable-form-wrapper .donation-amounts .donation-amount.suggested-donation-amount .amount {
		width: auto;	
	}


    /* ------- Woocommerce ------- */
    
    .woocommerce ul.products.products-2 li.product,
    .woocommerce-page ul.products.products-2 li.product,
    .woocommerce ul.products.products-3 li.product,
    .woocommerce-page ul.products.products-3 li.product,
    .woocommerce ul.products.products-4 li.product,
    .woocommerce-page ul.products.products-4 li.product,
    .woocommerce ul.products.products-5 li.product,
    .woocommerce-page ul.products.products-5 li.product {
        width: 75%;
    }
}
@media only screen and (max-width: 480px) {
    .logo-center .navbar-header.tpath-logo {
        padding: 0 20px;
    }
    .author-avatar,
    .comment-avatar {
        text-align: center;
        margin-bottom: 15px;
    }
    .comment-avatar {
        margin-bottom: 35px;
    }
    .author-avatar img,
    .comment-avatar img {
        float: none;
        margin: 0 auto;
    }
    .author-info-container,
    .comments-box-container {
        margin-left: 0;
    }
    .tpath-all-comments ul.children {
        padding-left: 10px;
    }
    .comment-avatar {
        float: none;
    }
    .comments-box-container:after,
    .comments-box-container:before {
        right: 44%;
        top: -20px;
    }
    .comments-box-container:before {
        margin-top: -20px;
    }
    .comments-box-container:after {
        border-color: transparent;
        border-bottom-color: #fff;
    }
    .comments-box-container:before {
        border-color: transparent;
        border-bottom-color: #fff;
    }
    .footer-social .tpath-social-icons.soc-icon-circle a {
        margin-bottom: 10px;
    }
    .parallax-title {
        font-size: 55px;
    }
    .tpath-opening-hours-wrapper.two_column .opening-days {
        margin-right: 0;
        width: 100%;
    }
    .location-form .tpath-field-group {
        margin-bottom: 15px;
        width: 100%;
        padding: 0;
    }
    .page-title-container {
        padding: 30px 0;
    }
    .page-title-header {
        width: 100%;
    }
	.page-title-wrapper .page-title-header h1, .page-title-wrapper .page-title-header h1.entry-title {
		font-size: 30px;
	}
    .page-breadcrumbs {
        width: 100%;
    }
    .container .tpath-counter-section {
        margin: 0.5em 0;
    }
    .team-style3 .team-image-wrapper img {
        max-width: 180px;
    }
    .team-style3 .team-item .team-content-wrapper {
        padding-left: 200px;
    }
	h2.related-member-title {
		font-size: 18px;
	}
    .header-top-section .tpath-top-nav .navbar-nav > li > a {
        line-height: 22px;
    }
    .vc_tta-style-tpath_tour_design.vc_tta.vc_general .vc_tta-panel-body {
        padding-left: 25px;
    }
	.tpath-about-widget-inner .widget-author-image {
		display: inline-block;
		width: 100%;
	}
	.comment-form {
		max-width: 100%;
	}
	.tpath-campaign-wrapper .campaign-grid-4 .campaign.hentry, .tpath-campaign-wrapper .campaign.hentry {
		width: 100%;
		margin: 0 0 20px 0!important;
		padding: 0;
	}
	.campaign-loop.campaign-grid .campaign-donation-stats, .campaign-loop.campaign-list .campaign-donation-stats {
		text-align: center;
	}
	.is-sticky div#header-main {
		border: none;
	}
	.large-posts .date-section, .large-posts .post-content {
		display: inherit;
	}
	.large-posts .date-section {
		float: left;
	}
	li.campaign-post .campaign-title,
	.campaign-loop.campaign-grid .campaign-donation {
		text-align: center;
	}
	.header-logo-section .tpath-logo-bar li > div {
		margin-bottom: 10px;
	}
	.tpath-cta-button.button-two .btn {
		margin: 5px 10px;
	}
	.post-navigation .pager li a {
		margin: 5px 0;
	}
	.navbar-header.tpath-logo img {
		max-width: 220px;
	}
	.form-group.mailchimp-email .input-group {
		display: block;
	}
	.tpath-vc-mailchimp-form .input-group input.form-control {
		width: 100%;
	}
	.tpath-vc-mailchimp-form .input-group .input-group-addon {
		padding: 0;
		width: 100%;
		text-align: left;
		margin: 10px 0 0;
	    float: left;
	}
	.tribe-events-single .tribe-events-back {
		width: 100%;
	}
	#tribe-events-content, #tribe-events-content.tribe-events-list {
		margin-bottom: 0;
	}
	.list-layout.list-columns .list-posts .posts-content-container .post-media {
		margin-right: 0;
		width: 100%;
	}
	blockquote, .blockquote-reverse, .tpath-blockquote-block {
		padding: 25px;
	}
	
	
    /* ------- Woocommerce ------- */
    
    .woocommerce ul.products.products-2 li.product,
    .woocommerce-page ul.products.products-2 li.product,
    .woocommerce ul.products.products-3 li.product,
    .woocommerce-page ul.products.products-3 li.product,
    .woocommerce ul.products.products-4 li.product,
    .woocommerce-page ul.products.products-4 li.product,
    .woocommerce ul.products.products-5 li.product,
    .woocommerce-page ul.products.products-5 li.product {
        width: 95%;
    }
    .woocommerce table.shop_table td,
    .woocommerce-page table.shop_table td,
    .woocommerce table.shop_table th,
    .woocommerce-page table.shop_table th {
        padding-left: 8px;
        padding-right: 8px;
    }
}
/* ---------- MAX 360px ---------- */

@media only screen and (max-width: 360px) {
    .entry-meta li {
        margin-bottom: 8px;
    }
    .nav.nav-tabs > li {
        float: none;
        margin-bottom: 5px;
    }
    .countdown-amount {
        font-size: 30px;
        padding: 20px;
    }
    .form-style-default .tpath-input-text,
    .form-style-default .tpath-input-email,
    .form-style-default .tpath-input-phone {
        float: left;
        width: 100%;
    }
    .team-item .team-item-wrapper {
        margin: 0 1em 2em;
    }
    .team-style3 .team-image-wrapper {
        float: left;
        width: 100%;
    }
    .team-style3 .team-item .team-content-wrapper {
        float: left;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .style-list .team-columns-2 .team-item {
		float: left;
		width: 100%;
    }
    .header-section.header-transparent,
    .header-section.header-semi-transparent {
        position: relative;
    }
    .header-section.header-transparent.header-dark,
    .header-section.header-semi-transparen.header-darkt {
        background: #222;
    }
	
    .vc_tta-panels-container .vc_tta-panel-body .vc_chart .vc_chart-legend,
    .vc_tta-panels-container .vc_tta-panel-body .vc_chart .vc_chart-with-legend {
        width: 100%;
    }
	.page-title-wrapper .page-title-header h1, .page-title-wrapper .page-title-header h1.entry-title {
		font-size: 24px;
	}
	.campaign-donate-button-wrapper .campaign-social-share-box {
		float: left;
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	.campaign-single-container .campaign-donate-button-item {
		width: 100%;
		text-align: center;
	}
	.campaign-single-donations-summary {
		margin-bottom: 10px;
		text-align: center;
	}
	.header-logo-section .tpath-logo-bar li > div .header-top-icon > i {
		font-size: 18px;
		line-height: 38px;
		margin-right: 5px;
		width: 40px;
		height: 40px;
	}
}